---
title: 'Discretize Website'
description: >-
  The Gear Optimizer helps players of the MMORPG Guild Wars 2 to find the most optimal builds for their favourit content while respecting input parameters.
concluded: false
timeActive: 2021-now
usersPerDay: 500
layout: project
---


testico