---
import HeaderLink from "./HeaderLink.astro";
---

<header class="mb-8 w-full lg:w-[768px] max-w-[calc(100%-2em)] lg:mx-auto">
    <nav>
        <div class="flex gap-4">
            <HeaderLink href="/">Home</HeaderLink>
            <HeaderLink href="/blog">Blog</HeaderLink>
            <HeaderLink href="/publications">Publications</HeaderLink>
            <HeaderLink href="/contact">Contact</HeaderLink>
        </div>
    </nav>
</header>
