---
import BaseLayout from "../../layouts/BaseLayout.astro";
import AddCVVerification from "../../components/verification/AddCVVerification.astro";
---

<BaseLayout>
  <h1>Admin</h1>

  <AddCVVerification />
</BaseLayout>
