---
import DarkModeToggle from "./DarkModeToggle.astro";
import DesktopNav from "./DesktopNav.astro";
import Logo from "../Logo.astro";
import MobileNav from "./MobileNav.astro";
---

<header
  class="bg-white/80 dark:bg-gray-900/80 backdrop-blur-sm border-b border-gray-200 dark:border-gray-700 z-20 relative"
>
  <div class="max-w-full lg:px-16 md:px-8 px-2 py-4">
    <div class="flex items-center justify-between">
      <h2 class="font-bold text-xl mb-0 font-mono flex">
        <a
          href="/"
          class="hover:text-mytheme-600 dark:hover:text-mytheme-400 transition-colors"
        >
          <Logo />
        </a>
      </h2>

      <div class="flex-1 flex justify-center">
        <div class="max-w-2xl w-full flex justify-end lg:justify-start">
          <DesktopNav />
        </div>
      </div>

      <div class="flex items-center gap-4">
        <div class="hidden lg:block"><DarkModeToggle /></div>
        <MobileNav />
      </div>
    </div>
  </div>
</header>
